apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-tls-certificate
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vault.labels" . | nindent 4 }}
type: Opaque
data:
  tls.ca: {{ .Values.server.tls.CA }}
  tls.crt: {{ .Values.server.tls.Crt }}
  tls.key: {{ .Values.server.tls.Key }}
